.img-arretdutabac{
  border-radius: 10px;
  height: auto;
  width: 100%;
}

.arreterdefumer{
  background-color: #191919;
  font-family: $body-font;
  font-size: 25px;
  text-align: justify;
  list-style-type: none;
  padding: 19px;
  border-radius: 5px;

    ul{
      list-style-type: none;
    }
}
.formulearretdutabac{
  background-color: #191919;
  font-family: $body-font;
  font-size: 25px;
  text-align: justify;
  list-style-type: none;
  padding: 19px;
  border-radius: 5px;

    ul{
      list-style-type: none;
    }
}

.sevragetabagique{
  background-color: #191919;
  font-family: $body-font;
  font-size: 25px;
  text-align: justify;
  list-style-type: none;
  padding: 19px;
  border-radius: 5px;

    ul{
      list-style-type: none;
    }
}

.lengagement{
  background-color: #191919;
  font-family: $body-font;
  font-size: 25px;
  text-align: justify;
  list-style-type: none;
  padding: 19px;
  border-radius: 5px;

    ul{
      list-style-type: none;
    }
}

.prixformulearrettabac{
  background-color: #191919;
  font-family: $body-font;
  font-size: 25px;
  text-align: justify;
  list-style-type: none;
  padding: 19px;
  border-radius: 5px;

    ul{
      list-style-type: none;
    }
}

.prixformulearrettabac{
  background-color: #191919;
  font-family: $body-font;
  font-size: 25px;
  text-align: justify;
  list-style-type: none;
  padding: 19px;
  border-radius: 5px;

    ul{
      list-style-type: none;
    }
}
