h1{
  margin-bottom: 2px;


}

.parcours{

  h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    text-decoration: underline #F0A500;
    }
}

.informationsplus{
  h3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    text-decoration: underline #F0A500;
    }
  }

.roundimage img{
  margin: auto;
  width: 50%;
  border-radius: 50%;
  display: block;
  margin-top: 20px;
  margin-bottom: -18px;
  text-align: center;
  font-size: 35px;
  font-family: $body-font;
}

.space{
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.presentation{
  font-family: $body-font;
  background-color: #191919;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  ul {
    list-style-type: none;
    text-align: revert;
    margin-top: 15px;
  }
}

.reservation{
  font-family: $body-font;
  background-color: #191919;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  height: auto;


  ul {
    list-style-type: none;
    text-align: revert;
  }
}

.w-100{
  margin-bottom: 5rem;
}
