// Specific CSS for your home-page
.container p-4 pb-0 {
  background-color: black;
  height: 300px;
  color: #F0A500;
}

a{
display: flex;
  justify-content: space-around;
}

body{
  background: black;
  display: flex;
  flex-direction: column;
}

.header{
  justify-content: center;
}

body .banner p{
  color: #F0A500;
}

p{
  background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $headers-font;
    font-size: 32px;
    width: 100%;
    margin-top: -2px;
    margin-bottom: -43px;
    padding: 36px;
    text-align: center;
}

h1{
  color: #FFB100;
}

h2{
  text-align: center;
}

.space{
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.horaires{
  margin-left: 67px;
}

.infos{
  margin-left: 48px;
}


.footer {
  bottom: auto;
  background: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: #F0A500;
  border-radius: 5px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #F0A500;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color:black
}

ul{
  padding-left: 0rem;
}



.btn btn-primary btn-floating m-1 a{
  width: 40px;
}

.mention{
  display: flex;
  justify-content: center;
  padding-top: 17px;
  font-size: 20px;
}

.text-center p-3{
  font-size: 15px;
}

.w-100 clearfix {
  margin-bottom: 0rem;
}

.offcanvas-header{
  background: #F0A500;
  font-weight: bold;
  padding-left: 166px;

}

.offcanvas-title{
  color: black;
  font-size: 25px;
  text-align: center;
}

.offcanvas-body{
  background: black;
  font-size: 20px;
}

.placeholdermenu{
  font-size: 20px;
  border-bottom: 2px solid #F0A500;
  text-align: center;
}

.contact{
  text-align: inherit;
}


.dropdown-item li::marker{
  list-style-type: none;
  a:hover{
    color: white;
  }
  margin-bottom: 6px;
}

.dropdown{
  text-align: center;
}


.dropdown-item{
  padding-left: 12px;
  text-align: inherit;
  font-size: 25px;
  color: #F0A500;
  background-color: black;
}

.plandusite li{
  list-style-type: none;
  border-bottom: 2px solid #F0A500;
}

.localisation{
  list-style-type: none;
}

.cabinets{
  border-bottom: 2px solid #F0A500;
  text-decoration: underline;
}

.dropdown-item:hover{
  color: white;
  background: black;
  text-decoration: underline;
}

.list-media li{
  align-items: center;
}

.dropdown-menu{
  background-color: black;
  li{
    background-color: black;
  }
}

.dropdown mt-3{
  font-size: 20px;
}

.btn-bg{
  font-size: 25px;
  display: list-item;
}

.avis{
  border-bottom: 2px solid #F0A500;
}

::marker{
  list-style-type: none;
  color: black;
}
