.mentionl{
  background-color: #191919;
  border-radius: 5px;
}

.editeurdusite{
  background-color: #191919;
  border-radius: 5px;
}

.hebergeur{
  background-color: #191919;
  border-radius: 5px;
}

p{
  font-size: 27px;
}

.donnees{
  background-color: #191919;
  border-radius: 5px;
}

.cookie{
  background-color: #191919;
  border-radius: 5px;
}
