.img-peursphobies{
  border-radius: 10px;
  height: auto;
  width: 100%;
}

.infospeursetphobies{
  background-color: #191919;
  font-family: $body-font;
  font-size: 20px;
  text-align: justify;
  list-style-type: none;
  padding: 19px;
  border-radius: 5px;

    ul{
      list-style-type: none;
    }
}

.peursetphobies{
  background-color: #191919;
  font-family: $body-font;
  font-size: 20px;
  text-align: justify;
  list-style-type: none;
  padding: 19px;
  border-radius: 5px;

    ul{
      list-style-type: none;
    }
}

.aborderpeursetphobies{
  background-color: #191919;
  font-family: $body-font;
  font-size: 20px;
  text-align: justify;
  list-style-type: none;
  padding: 19px;
  border-radius: 5px;

    ul{
      list-style-type: none;
    }
}
