.lhypnosecest{
  background-color: #191919;
  font-family: $body-font;
  font-size: 25px;
  text-align: justify;
  list-style-type: none;
  padding: 19px;
  border-radius: 5px;

  ul{
    list-style-type: none;
  }
}

.deroulementseance{
  background-color: #191919;
  font-family: $body-font;
  font-size: 25px;
  text-align: justify;
  list-style-type: none;
  padding: 19px;
  border-radius: 5px;

  ul{
    list-style-type: none;
  }
}

.vivreuneseance{
  background-color: #191919;
  font-family: $body-font;
  font-size: 25px;
  text-align: justify;
  list-style-type: none;
  padding: 19px;
  border-radius: 5px;

  ul{
    list-style-type: none;
  }
}

.effetseance{
  background-color: #191919;
  font-family: $body-font;
  font-size: 25px;
  text-align: justify;
  list-style-type: none;
  padding: 19px;
  border-radius: 5px;

  ul{
    list-style-type: none;
  }
}

.visio{
  background-color: #191919;
  font-family: $body-font;
  font-size: 25px;
  text-align: justify;
  list-style-type: none;
  padding: 19px;
  border-radius: 5px;

  ul{
    list-style-type: none;
  }
}
