.infostress{
  background-color: #191919;
  font-family: $body-font;
  font-size: 25px;
  text-align: justify;
  list-style-type: none;
  padding: 25px;
  border-radius: 5px;

  ul{
    list-style-type: none;
  }
}

.conscéquences{
background-color: #251919;
font-family: $body-font;
font-size: 25px;
text-align: justify;
list-style-type: none;
padding: 19px;
border-radius: 5px;

  ul{
    list-style-type: none;
  }
}

$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
);

