.infostress{
  background-color: #191919;
  font-family: $body-font;
  font-size: 25px;
  text-align: justify;
  list-style-type: none;
  padding: 25px;
  border-radius: 5px;

  ul{
    list-style-type: none;
  }
}

.conscéquences{
background-color: #251919;
font-family: $body-font;
font-size: 25px;
text-align: justify;
list-style-type: none;
padding: 19px;
border-radius: 5px;

  ul{
    list-style-type: none;
  }
}
