<div class="container">
  <h1>LEs Addictions</h1>
  <div class="roundimage">
      <img class="img-addictions"src="https://res.cloudinary.com/df1pesufu/image/upload/v1674671292/Les_Addictions_j0gmem.png" class="d-block w-100" alt="Les Addictions">
  </div>

  <section class="space">
  </section>

  <h2>Comprendre ce que c'est une Addiction</h2>
  <div class="addictions">
      <ul><br>
        <li>On se retrouve aujourd'hui pour parler des Addictions et comment l'hypnose Ericksonienne aborde ce sujet.</li><br>
        <li>L'hypnose est compléementaire et ne se substitue pas à tout avis ou traitement médical</li><br>
        <li>Je travaille sur cette thématique en lien avec votre médecin traitant</li><br>
        <li>Bonne lecture à vous</li>
      </ul><br>
  </div>

    <section class="space">
    </section>


  <div id="carouseladdictions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouseladdictions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouseladdictions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouseladdictions" data-bs-slide-to="2" aria-label="Slide 3"></button>

      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674671292/Se_lib%C3%A9rer_des_addictions_c34etk.png" class="d-block w-100" alt="Addictions et Hypnose-page1">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674671292/Les_comportements_d_une_addiction_s1xvpy.png" class="d-block w-100" alt="Addictions et Hypnose-page2">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674671293/En_quoi_l_Hypnose_est_utile_gwajz4.png" class="d-block w-100" alt="Addictions et Hypnose-page3">
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouseladdictions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouseladdictions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="retour">
        <a href="/blog" class="btn btn-primary btn-lg">Retour</a>
    </div>
</div>
