<div class="container">

  <h1>Arrêt du Tabac</h1><br>
    <img class="img-arretdutabac" src="https://res.cloudinary.com/df1pesufu/image/upload/v1674591149/Hypnose_Ericksonienne___arr%C3%AAter_de_fumer_d6jcdl.png"  alt="Arrêt du Tabac">

  <section class="space">
  </section>

  <p>Pour arrêter de fumer</p><br>
  <div class="arreterdefumer">

    <ul>
      <li>Plusieurs raisons sont possibles</li><br>
      <li>Tout commence par une prise conscience et une envie</li><br>
      <li>Une motivation et l'envie d'être accompagné e</li><br>
      <li>Peu importe le contexte , les tentatives avec l'hypnose il est possible de s'arrêter</li><br>
      <li>Complémentaire avec la médécine générale et votre médecin traitant</li><br>
      <li>Avec la transe hypnotique , votre objectif défini en séance et votre implication</li><br>
    </ul>

  </div>

  <section class="space">
  </section>

  <h2>La formule arrêt du Tabac c'est :</h2>

  <div class="formulearretdutabac">
    <ul><br>
      <li>La première séance se déroule en 3 étapes::</li><br>
      <li>1ère étape comprendre l'origin, vos habitudes, les situations qui déclenchent votre envie de fumer ou votre dépendance et un test</li><br>
      <li>une séance d'Hypnose</li><br>
      <li>Je vous apporte des outils en auto hypnose au qutodien sur la respiration, des ancrages pour préparer la 2 ième séance</li><br>
      <li>Cette séance dure 1H30 en moyenne</li><br>
    </ul>
  </div>

  <section class="space">
  </section>

  <h2>La phase de sevrage tabagique </h2>

  <div class="sevragetabagique">
    <ul><br>
      <li>15 jours après la 1iere séance, de nouveaux 3 étapes</li><br>
      <li>Un entretien, une séance d'hypnose avec plusieurs approches possibles:</li><br>
      <li>Permettre à votre inconscient de mettre en place une stratégie de changement</li><br>
      <li>Visualisation l'Avenir sans Tabac</li><br>
      <li>Modifier votre perception de votre comportement</li><br>
      <li>Hypnose aversive pour rompre le lien</li><br>
      <li>Auto Hypnose pour vous autonomiser dans votre démarche</li><br>
      <li>La séance dure elle aussi 1H30</li><br>
    </ul>
  </div>

  <section class="space">
  </section>

  <div class="lengagement">
    <ul><br>
      <li>Arrêter de fumer ce n'est pas simple et cela engendre des conscéquences</li><br>
      <li>Comme accepter de perdre des habitudes de vie, des rituels pour en gagner des nouveaux et faire des nouveaux choix</li><br>
      <li>Désapprendre pour apprendre et adopter des nouveaux comportements et des changements au quotidien</li><br>
      <li>En parralèle et selon vos besoins je peux également vous recommander d'autres thérapeutes.</li><br>
    </ul>
  </div>

  <section class="space">
  </section>

  <div class="prixformulearrettabac">
  <ul><br>
    <li>La Formule Arrêt du Tabac coûte 160€ pour les 2 séances</li><br>
  </ul>
  </div>

  <section class="space">
  </section>

  <div id="carouselestimeconfianceensoi" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselarretdutabac" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselarretdutabac" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselarretdutabac" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselarretdutabac" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselarretdutabac" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselarretdutabac" data-bs-slide-to="5" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674591210/Le_point_de_d%C3%A9part_pour_arr%C3%AAter_de_fumer_hn9fs6.png" class="d-block w-100" alt="Arrêt du Tabac 1">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674591212/Comment_%C3%A7a_marche___kulp3p.png" class="d-block w-100" alt="Arrêt du Tabac 2">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674591211/Comment_se_d%C3%A9roule_une_s%C3%A9ance_pour_arr%C3%AAter_de_fumer___hx9d5m.png" class="d-block w-100" alt="Arrêt du Tabac 3">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674591211/La_deuxi%C3%A8me_s%C3%A9ance__sevrage_tabagique_ryczf0.png" class="d-block w-100" alt="Arrêt du Tabac 4">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674591211/Et_pour_conclure_oxnfah.png" class="d-block w-100" alt="Arrêt du Tabac 5">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674591211/Informations_utiles_hniqjq.png" class="d-block w-100" alt="Arrêt du Tabac 6">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselestimeconfianceensoi" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselestimeconfianceensoi" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
