<div class="container">
<!-- Hotjar Tracking Code for Yann Lecocq -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:3363126,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <h1>Les Ateliers</h1><br>
  <div class="roundimage">
    <img class="img-hypnose" src="https://res.cloudinary.com/df1pesufu/image/upload/v1674609275/1_fh5v6q.png"  alt=" Les Ateliers d'Hypnose">
  </div>

  <p>Vous trouverez dans cette rubrique une rétropective des ateliers de 2022</p>
  <p>Ainsi que les ateliers pour 2023. Ils arrivent bientôt! Restez connectée s</p>

  <section class="space">
  </section>

  <h2>Connaitre les différents ateliers</h2>

  <div class="introateliers"><br>
      <ul><br>
        <li>L'année 2022 a été riche entre des ateliers de formations à l'auto Hypnose</li><br>
        <li>Des ateliers Bien Etre sur divers thématiques comme la relaxation ou la capsule sonore</li><br>
        <li>Un évènement à Basse Goulaine avec Hygie Day</li><br>
        <li>2 journées Portes Ouvertes Chez Joïa à Nantes</li><br>
        <li>Ces ateliers sont une belle proposition pour se retrouver en petit groupe de 8 à 10 personnes</li><br>
        <li>Les tarifs oscillent entre 10 et 20 euros pour 1H00 à 2H00</li><br>
        <li>L'occasion de prendre soin de vous le temps d'un moment ou pour apprendre l'auto Hypnose</li><br>
        <li>Vous pouvez clicker ci dessous sur les rubriques de votre choix:</li>
      </ul>
  </div>

  <section class="space">
  </section>

  <div class="cards">
    <div class="card-category">
      <a href="/retrospective">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/v1674674000/Informations_utiles_obncht.png"></a>
        <div class="cardshome_infos">
          <%= link_to "Hygie Day 2022", retrospective_path %>
        </div>
    </div>
</div>

<section class="space">
</section>

<div class="retour">
      <a href="/" class="btn btn-primary btn-lg">Retour</a>
  </div>
