<div class="container">
  <h1>Découvrir les Avis clientèle</h1>
    <p></p>

  <section class="space">
  </section>

  <div class="avis">
    <ul><br>
      <li>Il n'est jamais simple de trouver le professionnel en Hypnose adapté à nous parmi ceux qui exercent.</li><br>
      <li>Alors si cela peut vous aider je vous partage ici les retours google de séance en Hypnose Ericksonienne dans mon cabinet à Nantes avec mes clients</li><br>
      <li>Merci pour votre confiance et pour vos beaux retours ! </li><br>
      <li>100% 5 étoiles que vous pouvez retrouver en mentionnant dans votre recherche google Yann Lecocq Hypnose Nantes</li><br>
    </ul>
  </div>

  <section class="space">
  </section>

  <div id="carouselavisgoogle" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="3" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="4" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="5" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="6" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="7" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="8" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="9" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674140946/Avis_Google_Carol_Bucher_jecwmt.jpg" class="d-block w-100" alt="Avis Google Carole.B">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674140989/Avis_google_Chrystelle_Rousseau_qxga3w.jpg" class="d-block w-100" alt="Avis Google Chrystelle.R">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674141027/Avis_Google_David_Jamin_irkmmq.jpg" class="d-block w-100" alt="Avis Google David.J">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674141059/Avis_Google_Francesca.S_zii4cw.jpg" class="d-block w-100" alt="Avis Google Fransceca.S">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674141094/Avis_Google_Ka%C3%ABlig_Bourdaud_szkvxa.jpg" class="d-block w-100" alt="Avis Google Kaëlig.B ">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674141198/Avis_Google_Laurence_Bobet_q5seqj.jpg" class="d-block w-100" alt="Avis Google Laurence.B">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674141239/Avis_Google_M%C3%A9lissa_Cintas_a26ibe.jpg" class="d-block w-100" alt="Avis Google Méliisa.C">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674141300/Avis_Google_Rachel_Monteil_jgbct1.jpg" class="d-block w-100" alt="Avis Google Rachel.M">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674141348/Avis_Google_Sabrina_Derruder_ot5bco.jpg" class="d-block w-100" alt="Avis Google Sabrina.D">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674141351/Avis_Google_Virginie_Azeau_xtqh7v.jpg" class="d-block w-100" alt="Avis Google Virginie.A">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselavisgoogle" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselavisgoogle" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
