
<div class="container">
  <h1> Qui suis je?</h1>
  <div class="roundimage">
    <img class="img-circles" src="https://res.cloudinary.com/df1pesufu/image/upload/v1672872520/yannlecocq_sa12if.jpg"  alt=" Photo Yann Lecocq-">
    <p>Yann Lecocq</p>
  </div>

  <section class="space">
  </section>

  <div class="parcours">
    <h2>Découvrir mon parcours</h2><br>
  </div>

  <div class="presentation">
    <ul><br>
      <li>Je suis Praticien en Hypnose Ericksonienne formé avec l'Institut Psynapse de Rennes en 2021</li>
      <li>Je suis inscrit à la Fédération Française d'Hypnose </li>
      <li>J'exerce dans mon cabinet Chez Joïa à Nantes depuis Novembre 2021</li>
      <li>Spécialisé dans la gestion des émotions:</li>
      <li>(stress, anxiété, colère, tristesse, estime et confiance en soi)</li>
      <li>L'Hypnose est complémentaire et ne se substitue pas à tout avis ou traitement médical</li>
      <li> J'interviens dans d'autres domaines dans la rubrique <%= link_to "Hypnose", hypnose_path %></li>
    </ul><br>
  </div>

  <section class="space">
  </section>

  <div class="informationsplus">
  <h3>Pour en savoir plus</h3><br>
  </div>

  <div class="reservation">
    <ul><br>
      <li>Je vous accueille du Lundi au Vendredi  de 9H00 à 20H00 sur RDV</li>
      <li>Merci de me laisser votre numéro de téléphone et votre nom pour que je puisse vous rappeler.</li>
      <li>Retrouver les tarifs des prestations ici <%= link_to "Tarifs", tarif_path %> </li>
    </ul><br>
  </div>

  <section class="space">
  </section>

  <div id="carouselbioyann" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="3" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="4" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1673541537/1_b0czq1.png" class="d-block w-100" alt="Biographie Yann Lecocq-page1">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1673541538/2_ljisjk.png" class="d-block w-100" alt="Biographie Yann Lecocq-page2">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1673541538/3_o1jxyy.png" class="d-block w-100" alt="Biographie Yann Lecocq-page3">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1673541538/4_volw5w.png" class="d-block w-100" alt="Biographie Yann Lecocq-page4">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1673541538/5_tcrbra.png" class="d-block w-100" alt="Biographie Yann Lecocq-page5">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselbioyann" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselbioyann" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
