<div class="container">
  <h1>La Douleur</h1>
  <div class="roundimage">
      <img class="img-douleur"src="https://res.cloudinary.com/df1pesufu/image/upload/v1674655621/L_Hypnose_et_la_Douleur_ncynwp.jpg" class="d-block w-100" alt="Article La Douleur">
  </div>

  <section class="space">
  </section>

  <h2>Comprendre les mécanismes de la douleur</h2>
  <div class="douleur">
      <ul><br>
        <li>Un nouvel article afin de vous apporter un éclairage sur les causes, effets et comment l'Htpnose aborde ce thème</li><br>
        <li>Je vous souhaite une belle lecture.</li><br>
      </ul><br>
  </div>

    <section class="space">
    </section>


  <div id="carouseldouleur" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouseldouleur" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouseldouleur" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouseldouleur" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouseldouleur" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouseldouleur" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouseldouleur" data-bs-slide-to="5" aria-label="Slide 6"></button>

      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674655621/C_est_quoi_une_douleur_peczaq.jpg" class="d-block w-100" alt="La Douleur et l'Hypnose-page1">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674655621/En_quoi_l_Hypnose_est_utile_zezgmo.jpg" class="d-block w-100" alt="La Douleur et l'Hypnose-page2">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674655621/Des_strat%C3%A9gies_pour_faire_face_%C3%A0_la_douleur_xhbetj.jpg" class="d-block w-100" alt="La Douleur et l'Hypnose-page3">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674655621/D_autres_m%C3%A9thodes_pour_g%C3%A9rer_la_douleur_eozbpv.jpg" class="d-block w-100" alt="La Douleur et l'Hypnose-page4">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674655621/Quelques_exemples_de_douleurs_gzxtcp.jpg" class="d-block w-100" alt="La Douleur et l'Hypnose-page4">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674655621/Pour_conclure_pbg95e.jpg" class="d-block w-100" alt="La Douleur et l'Hypnose-page4">
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouseldouleur" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouseldouleur" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="retour">
        <a href="/blog" class="btn btn-primary btn-lg">Retour</a>
    </div>
</div>
