<div class="container">
  <h1>Les Enfants</h1>
  <div class="roundimage">
      <img class="img-enfants"src="https://res.cloudinary.com/df1pesufu/image/upload/v1674671974/L_Hypnose_Ericksonienne_avec_les_enfants_lpggga.png" class="d-block w-100" alt="Les Enfants et l'Hypnose">
  </div>

  <section class="space">
  </section>

  <h2>Ma Pratique avec les enfants</h2>
  <div class="enfants">
      <ul><br>
        <li>On se retrouve aujourd'hui pour parler des Enfants et comment l'hypnose Ericksonienne aborde ce sujet.</li><br>
        <li>Bonne lecture à vous</li>
      </ul><br>
  </div>

    <section class="space">
    </section>


  <div id="carouselenfants" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselenfants" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselenfants" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselenfants" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselenfants" data-bs-slide-to="3" aria-label="Slide 3"></button>


      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674671973/1_mq4sbj.jpg" class="d-block w-100" alt="Les Enfants et l'Hypnose-page1">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674671973/3_yz8feo.jpg" class="d-block w-100" alt="Les Enfants et l'Hypnose-page2">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674671973/2_av3tay.jpg" class="d-block w-100" alt="Les Enfants et l'Hypnose-page3">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674671973/4_kvxfiy.jpg" class="d-block w-100" alt="Les Enfants et l'Hypnose-page4">
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselenfants" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselenfants" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="retour">
        <a href="/blog" class="btn btn-primary btn-lg">Retour</a>
    </div>
</div>
