<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/df1pesufu/image/upload/v1672446744/Boussole_Background_akivcu.jpg);">
    <div class="container-home">
      <h1>Yann Lecocq</h1>
        <strong><p>Hypnose Ericksonienne</p></strong>
    </div>
  </div>

  <div class="cards">
    <div class="card-category">
      <a href="/biographie">
        <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/c_scale,w_1300/v1672310486/_DSC3925m_ndyagh.jpg" alt="Qui suis-je?"></a>
        <div class="cardshome_infos">
          <%= link_to "Qui suis-je?", biographie_path %>
        </div>
      </a>
    </div>

  <div class="card-category">
    <a href="/hypnose">
      <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/c_scale,h_1334,w_2000/v1672308920/234044578_140391801515218_434573821509986691_n_y6mkhy.jpg" alt="Hypnose"></a>
      <div class="cardshome_infos">
        <%= link_to "Hypnose", hypnose_path %>
      </div>
    </a>
  </div>

  <div class="card-category">
    <a href="/tarif">
      <img class="imgcardhome" src="https://res.cloudinary.com/df1pesufu/image/upload/c_scale,h_1334,w_2000/v1672494893/Izen_hyhvkp.jpg"a alt="tarif?"></a>
      <div class="cardshome_infos">
        <%= link_to "Tarifs", tarif_path %>
      </div>
    </a>
  </div>
</div>

<div class="footer">
    <div class="footer-links">
    <a href="https://github.com/Mandza177"><i class="fab fa-github"></i></a>
          <a href="https://www.instagram.com/yannlecocqhypnose44/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/YannLecocqhypnose44"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    <%= link_to "Mentions légales", mention_path %>
  </div>
