<div class="container">
  <!-- Hotjar Tracking Code for Yann Lecocq -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:3363126,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <h1>A quoi sert l'Hypnose?</h1>

  <section class="space">
  </section>

  <div class="erickson">
    <ul><br>
      <li>Issue de Mr Milton Erickson, psychiatre et psychologue américain renommé du 20 ieme siècle.</li><br>
      <li>Elle est est utile et efficace pour travailler sur le conscient et l'inconscient par des suggestions verbales et auditives.</li><br>
      <li>Je pratique l'hypnose avec les enfants, des étudiants et des adultes de 25 à 60 ans.</li><br>
    </ul>

  </div>

  <section class="space">
  </section>

  <div class="gestionemotions">
    <ul><br>
      <li>Cela vous permet d'enlever la charge émotionnelle qui interfère sur votre mental.</li><br>
      <li>Cela libère vos ressources intérieures. et créer des stratégies de changements, de leviers d'évolutions pour aller mieux et trouver des solutions.</li><br>
      <li>Retrouver le sommeil et gérer les problèmes d'endormissement. Pour vous permettre de retrouver des nuits sereines et faire le plein d'énergie.</li><br>
      <li>Booster votre confiance en soi et l'estime de soi. Se sentir légitime, lutter contre ses croyances limitantes, la perte ou prise de poids et l'image que l'on a de nous et de notre corps. </li><br>
      <li>C'est retrouver la motivation pour avancer plus sereinement et retrouver son calme intérieur.</li><br>
      <li>Libérer le stress et l'anxiété face à différentes situations ou évènements importants comme passer un examen, une prise de parole en public ou face à un jury, une séparation amoureuse, sa situation financière.</li><br>
      <li>Gestion de conflits au travail et dans son entourage ou dans la perte d'emploi.</li><br>
      <li>Suite à un traumatisme ou à la perte d'un être cher le deuil est une étape de la vie. C'est apprendre à se reconstruire dans le moment présent et continuer d'avancer.</li><br>
      <li>Nous avons tous des peurs en nous comme celle du vide, de la foule, du noir, de conduire etc.. et certaines peurs deviennent des phobies comme les insectes, les reptiles , de prendre l'avion et cela perturbe notre quotidien et notre manière de vivre.</li><br>
    </ul>
  </div>

  <section class="space">
  </section>

  <h2>Trouver des solutions</h2>

  <div class="solutions">
    <ul><br>
      <li>Je définis avec vous votre objectif personnel qui est bon donc écologique pour vous et vos attentes.</li><br>
      <li>Mon accompagnement part de votre engagement pour aller mieux.</li><br>
      <li>La séance est faite sur mesure et fait suite à  vos attentes. </li><br>
      <li>Vous êtes pleinement acteur et aux commandes de votre changement.</li><br>
      <li>Le résultat ne dépend que de vous.</li><br>
      <li>Je vous accompagne pour trouver des solutions par et pour vous même.</li><br>
      <li>Je vous apporte des outils pendant et après notre séance d'Hypnose. Afin de vous permettre de continuer le travail chez vous.</li><br>
      <li>Mes valeurs: Vous rendre autonome et acteur de votre changement.</li><br>
    </ul>
  </div>

  <section class="space">
  </section>

  <div class="retour">
      <a href="/hypnose" class="btn btn-primary btn-lg">Retour</a>
  </div>
</div>
