<div class="container">

  <h1>Les Peurs et les Phobies</h1><br>
    <img class="img-peursphobies" src="https://res.cloudinary.com/df1pesufu/image/upload/v1674589682/Peurs_et_Phobies_pwxpzk.png"  alt="Les Peurs et les Phobies">

  <section class="space">
  </section>

  <p>Comprendre la peur et la phobie</p><br>
  <div class="infospeursetphobies">

    <ul>
      <li>Une peur c'est</li><br>
      <li>Une émotion, un sentiment angoissant face à un danger, une menace, une situation</li><br>
      <li>Une Phobie c'est</li><br>
      <li>C'est une peur irrationelle qui peut être déclenchée également à la suite d'un évènement douloureux et difficiles dans votre vie et lors de traumatismes</li><br>
      <li>Quelques exemples:</li><br>
      <li>La peur des animaux, de l'eau, de la foule, du vide, du noir, des insectes, des reptiles, d'être seul e, de l'abandon etc...</li><br>
    </ul>

  </div>

  <section class="space">
  </section>

  <h2>Les effets d'une peur et d'une phobie</h2>

  <div class="peursetphobies">
    <ul><br>
      <li>Chaque personne réagit différemment et à sa manière</li><br>
      <li>Cela peut être la fuite, l'évitement, le dégoût, se tétaniser, réagir sous le coup de l'émotion</li><br>
      <li>Ressentir des sensations comme le malaise, l'angoisse, être en sueur, avoir des tremblements, crier et votre mental prend le dessus</li><br>
      <li>Une phobie peut déclencher une crise ou attaque de panique, une crise d'hystérie et donc une peur incontrôlable</li><br>
    </ul>
  </div>

  <section class="space">
  </section>

  <h2>Comment l'Hypnose aborde ces thèmes </h2>

  <div class="aborderpeursetphobies">
    <ul><br>
      <li>Déterminer sur les déclencheurs et la source des peurs et des phobies</li><br>
      <li>Un travail sur le conscient et l'inconscient pour permettre d'élaborer un nouveau comportement, une nouvelle façon de penser bonne et juste pour vous. Qui est donc écologique pour vous</li><br>
      <li>Cela permet d'adopter nouvelles émotions pour dépasser celles ci</li><br>
    </ul>
  </div>

  <section class="space">
  </section>

  <div id="carouselestimeconfianceensoi" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselpeursetphobies" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselpeursetphobies" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674589705/Les_causes_et_les_effets_avoovo.png" class="d-block w-100" alt="Peurs et Phobies 1">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674589654/Quand_Consulter_sjq2dd.png" class="d-block w-100" alt="Peurs et Phobies 2">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselestimeconfianceensoi" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselestimeconfianceensoi" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="retour">
    <%= link_to "Retour", hypnose_path %>
  </div>
</div>
