  <div class="container">
    <h1>Comment se passe une séance d'Hypnose?</h1>

    <section class="space">
    </section>

    <div class="lhypnosecest">
      <ul><br>
        <li>L'Hypnose Ericksonienne n'est pas</li><br>
        <li>Un spectacle pour vous divertir </li>
        <li>Une baguette magique. Elle s'inscrit dans les thérapies brèves pas instantanées. Plusieurs séances sont nécéssaires dans votre développement personnel.</li>
        <li>Une perte de contrôle. Vous êtes aux commandes de votre séance. Vous ne dormez pas</li><br>
        <li>L'Hypnose Ericksonienne c'est</li><br>
        <li>Je vous accompagne à Nantes pour fixer votre objectif, je vous guide dans votre changement. Pour puiser dans vos ressources personnelles pour avancer et trouver des solutions</li>
        <li> Je vous apporte des outils d'Hypnose et de PNL (Programmation Neuro Linguistique) en séance à reproduire chez vous. Afin de continuer le travail et surtout vous rendre acteur et autonome de votre changement pour renforcer les effets bénéfiques de la séance</li>
      </ul><br>
    </div>

    <section class="space">
    </section>

    <h2>Découvrir une séance c'est</h2><br>

    <div class="deroulementseance">
      <ul><br>
        <li>Avoir une envie, celle d'aller mieux</li><br>
        <li>Avoir une  motivation, des  attentes, une curiosité,  un bouche à oreille,  une recherche</li><br>
        <li>Prendre une décision : un  appel, un  mail, un  RDV fixé</li><br>
        <li>Un  entretien téléphonique lors de la prise de RDV pour comprendre votre besoin. Il permet de vous donner toutes les informations utiles, les coordonnées du cabinet, mode de paiments etc...</li>
        <li>Fixer un objectif</li><br>
        <li>Un échange  donc entre vous et moi qui permettra de fixer un objectif, un cadre de travail et je vous pose des questions également</li><br>
        <li>Tout est possible en séance. On a le droit de rire, de pleurer, de réagir, de parler, de changer de position, d'être assis ou debout. Personne n'est là pour vous juger. Et cela reste entre nous</li><br>
        <li>J'accompagne  avant tout la personne que j'ai en face de moi</li><br>
        <li>Chaque séance est unique et sur mesure puisque chaque personne est différente</li><br>
        <li>Pour apprendre à se connaitre une séance peut être juste un échange avec de l'hypnose conversationnelle afin de poser des bases, les moyens et de crée des stratégies de changement.</li><br>
        <li>Des suggestions  se mettent déjà en place dans  votre inconscient</li><br>
        <li>Vous êtes pleinement associé à votre séance donc acteur de notre échange et de vos ressentis.</li><br>
      </ul>
    </div>

    <section class="space">
    </section>

    <h2>Vivre une séance d'Hypnose</h2><br>

    <div class="vivreuneseance">
      <ul><br>
        <li>Cette phase dure entre 20 et 40 mn, assise, ou debout, associé ou dissocié e, selon votre objectif</li><br>
        <li>Guidé au son de ma voix, commence dès lors une phase de relaxation pour vous reconnecter à votre corps, vos ressentis. Et cela passe par des suggestions hypnotiques générales, des mots, des images</li><br>
        <li>Vous êtes en état de transe  celui que vous choisissez, comme lorsque votre esprit est ailleurs en regardant le ciel. Votre conscient est toujours là et vous restez aux commandes, libre d'interagir. Je pose en amont des sécurité pour vous permettre de vivre le plus agréablement la séance</li><br>
        <li>Des stratégies de changements  se mettent en place et suite à notre échange vous utilisez vos ressources utiles et positives pour aller mieux.</li><br>
        <li>C'est se permettre de vivre votre expérience. En s'autorisant à le faire les résultats seront à la hauteur de ce que vous êtes prêt à vivre.</li><br>
      </ul>
    </div>

    <section class="space">
    </section>

    <h3>Laisser infuser une séance</h3>
    <div class="effetseance">
      <ul><br>
        <li>Vous ouvrez les yeux pour revenir à ici et maintenant à votre rythme. Certaines séances peuvent être riches de sensations, d'émotions</li><br>
        <li>On ressent un sentiment de bien être, de détente et de relaxation. On est plus apaisé</li><br>
        <li>Je laisse 15 jours entre 2 RDV afin de permettre à votre inconscient d'assimiler pour votre conscient les stratégies de changement</li><br>
        <li>Je vous apporte également des outils tel l'auto hypnose afin de continuer votre travail chez vous</li><br>
        <li>Nous échangeons sur votre retour de séance et vos ressentis</li><br>
      </ul>
    </div>

    <section class="space">
    </section>

    <h3>Déroulement séance en VISIO</h3>
    <div class="visio">
      <ul><br>
        <li>Vous n'habitez pas Nantes ? Les résultats en visio sont les mêmes qu'en cabinet</li><br>
        <li>C'est être dans un lieu calme pour ne pas être dérangé</li><br>
        <li>Etre assis sur une chaise ou un canapé et non dans le lit ou allongé</li><br>
        <li>Prévenir son entourage</li><br>
        <li>Avoir une bonne connexion Internet</li><br>
        <li>Prévoir un support pour poser votre téléphone devant vous que je puisse bien vous voir</li><br>
        <li>Mettre le dit téléphone en silencieux pour ne pas être dérangé</li><br>
        <li>Mettre un casque audio pour vivre une meilleure immersion sonore</li><br>
        <li></li><br>
      </ul>
    </div>

    <section class="space">
    </section>

    <div id="carouselseancehypnose" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselseancehypnose" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselseancehypnose" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselseancehypnose" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674134444/Comment_se_passe_une_s%C3%A9ance_1_iccqad.png" class="d-block w-100" alt="Déroulement indicatif d'une séance d'Hypnose 1">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674134444/Comment_se_passe_une_s%C3%A9ance_2_k7okmy.png" class="d-block w-100" alt="Déroulement indicatif d'une séance d'Hypnose 2">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674134444/Et_pour_une_s%C3%A9ance_%C3%A0_distance_en_Visio___kwjxo1.png" class="d-block w-100" alt="Déroulement séance en Visio 3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselseancehypnose" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselseancehypnose" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
