<div class="container">
  <h1>Le Sommeil</h1>
  <div class="roundimage">
      <img class="img-douleur"src="https://res.cloudinary.com/df1pesufu/image/upload/v1674655889/Hypnose_et_le_Sommeil_hnpg7p.png" class="d-block w-100" alt="Le Sommeil et les Insomnies">
  </div>

  <section class="space">
  </section>

  <h2>Ce que provoque un problème de sommeil et une insomnie</h2>
  <div class="sommeil">
      <ul><br>
        <li>Un nouvel article afin de vous apporter un éclairage sur les causes, effets et comment l'Htpnose aborde ce thème</li><br>
        <li>Je vous souhaite une belle lecture.</li><br>
        <li>La plupart du temps c'est un symptôme subit</li><br>
        <li>Cela peut être occasionnel ou récurrent</li><br>
        <li>Les effets ressentis sont un sommeil trop court, peu réparateur, en yo-yo, très léger, agité et entrecoupé</li><br>
      </ul><br>
  </div>

  <section class="space">
  </section>

  <h2>Connaitre ce qui génère le problème de sommeil</h2>
  <div class="pbsommeil">
      <ul><br>
        <li>Les causes physiques, les troubles circulatoires, les crampes musculaires, les jambes impatiences, les apnées du sommeil, les excitants comme le thé, le café et les médicaments</li><br>
        <li>Les causes liées aux pensées ruminantes que l'on ressasse</li><br>
        <li>Les émotions fortes comme le stress, la peur, l'anxiété</li><br>
        <li>A la suite d'un événement important (concours, examens, etc..)</li><br>
        <li>Un Burn Out ou une dépression</li><br>
      </ul><br>
  </div>

  <section class="space">
  </section>

  <h3>Comprendre ce qu'est une insomnie</h3>
    <div class="effetsinsomnies">
      <ul><br>
        <li>C'est un état d'hypervigilance, de contrôle qui crée des pensées et des peurs comme avoir peur de pas arriver à dormir ou de s'endormir. De ne pas arriver à dormir de la nuit</li><br>
        <li>Cela provoque de l'irritabilité, de l'agacement, de l'énervement, un épuisement physique et moral</li><br>
        <li>En quoi l'Hypnose est utile ?</li><br>
        <li>Elle est efficace en déterminant les causes , les origines , l'émotion qui accompagnent les problèmes de sommeil, d'insomnies et d'endormissement</li><br>
        <li>Elle permet de calmer l'anxiété et les émotions pour retrouver un sommeil apaisé</li><br>
        <li>Par des suggestions générales verbales, l'hypnose ericksonienne permet de vous plonger dans un état d'endormissement et de relaxation en installant progressivement une détente afin de lâcher prise</li><br>
        <li>Je vous apporte des outils et des liens audios pour continuer le travail après séance afin de vous rendre acteur et autonome avec des exercices d'auto hypnose</li><br>
        <li>Pour retrouver un sommeil de qualité et des nuits sereines</li><br>
      </ul><br>
    </div>

  <section class="space">
  </section>

  <h3>Je vous partage une vidéo sur le sommeil disponible sur ma chaine vidéo. Des playlists par thématiques sont en libre accès.</h3>

  <section class="space">
  </section>


  <div class="ratio ratio-16x9">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/yIiNL84ZrTQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <section class="space">
  </section>


  <div id="carouselsommeil" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselsommeil" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselsommeil" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselsommeil" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselsommeil" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselsommeil" data-bs-slide-to="4" aria-label="Slide 5"></button>

      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674655889/Les_effets_n%C3%A9gatifs_du_sommeil_z0xsge.png" class="d-block w-100" alt="Sommeil et Insomnies-page1">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674655889/Les_causes_possibles_probl%C3%A8mes_de_sommeil_et_insomnie_q5z5rn.png" class="d-block w-100" alt="Sommeil et Insomnies-page2">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674655889/Ce_qui_provoque_une_insomnie_bey6se.png" class="d-block w-100" alt="Sommeil et Insomnies-page3">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674655889/Ce_que_propose_l_Hypnose_it7rnz.png" class="d-block w-100" alt="Sommeil et Insomnies-page4">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674655889/Et_apr%C3%A8s_la_s%C3%A9ance_d_Hypnose_zlvxsm.png" class="d-block w-100" alt="Sommeil et Insomnies-page4">
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselsommeil" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselsommeil" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="retour">
        <a href="/blog" class="btn btn-primary btn-lg">Retour</a>
    </div>

    <section class="space">
    </section>


</div>
