<div class="container">

  <h1>Le Stress et l'Anxiété</h1><br>
    <img class="img-estimeconfiance" src="https://res.cloudinary.com/df1pesufu/image/upload/v1674231174/stress-gfb596137c_1920_csyzxt.jpg"  alt="Le Stress et l'Anxiété">

  <section class="space">
  </section>

  <p>Vivre avec le Stress</p><br>
  <div class="infostress">

    <ul>
      <li>La peur de souffrir, du jugement d'autrui</li><br>
      <li>Suite à des situations de vie difficiles vous avez élaboré une stratégie d'évitement et de fuite pour vous protéger</li><br>
      <li>Et la raison qui vous est personnel, qui vous appartient</li><br>
    </ul>

  </div>

  <section class="space">
  </section>

  <h2>Comprendre ses effets</h2>

  <div class="solutionconfiance">
    <ul><br>
      <li>Difficutés à se lever le matin ou la nuit lors de l'endormissement et du sommeil peu réparateur et agité</li><br>
      <li>Sautes d'humeur et irritabilité</li><br>
      <li>Une forme d'apathie et de manque de joie de vivre</li><br>
      <li>Perte de prise d'initiative et de prise de décision</li><br>
      <li>Modifier ses habitudes de vie</li><br>
      <li>Isolement social et préférer sa zone de confort au domicile</li><br>
      <li>Tensions musculaires (dos, épaules, cou, jambes impatientes)</li><br>
    </ul>
  </div>

  <section class="space">
  </section>

  <h2>Mon accompagnement</h2>

  <div class="conscéquences">
    <ul><br>
      <li>Celui ci n'est pas unique et est différent à chaque personne, à chaque séance. Il vous offre un aperçu de ce qu'il est possible de faire et s'adapte à vous et vos besoins</li><br>
      <li>Aborder la question de l'échec et de ce que vous en avez appris</li><br>
      <li>Vous permettre de mieux comprendre qui vous êtes</li><br>
      <li>Lister vos forces et vos motivations pour élaborer un plan d'attaque pour aller mieux et surtout retrouver l'estime et la confiance en vous dont vous avez besoin</li><br>
    </ul>
  </div>

  <section class="space">
  </section>

  <h3>Je vous partage une vidéo sur la gestion du Stress disponible sur ma chaine vidéo. Des playlists par thématiques sont en libre accès.</h3>

  <section class="space">
  </section>


  <div class="ratio ratio-16x9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hYmXvgGs44Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <section class="space">
  </section>

  <div id="carouselestimeconfianceensoi" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674143386/Deux_id%C3%A9es_celle_de_la_cr%C3%A9ativit%C3%A9_pour_s_adapter3_zirctc.png" class="d-block w-100" alt="Estime et confiance en soi 1">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674143386/Comment_je_l_aborde_en_Hypnose1_x1atgz.png" class="d-block w-100" alt="Estime et confiance en soi 2">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674143386/Deux_id%C3%A9es_Agir_sur_l_%C3%AAtre2_rablw8.png" class="d-block w-100" alt="Estime et confiance en soi 3">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674143386/Deux_id%C3%A9es_celle_de_la_cr%C3%A9ativit%C3%A9_pour_s_adapter3_zirctc.png" class="d-block w-100" alt="Estime et confiance en soi 4">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674143386/La_perte_d_estime_et_de_confiance_en_soi4_aolh61.png" class="d-block w-100" alt="Estime et confiance en soi 5">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1674143386/Quelles_en_sont_les_causes_5_mlqa1p.png" class="d-block w-100" alt="Estime et confiance en soi 5">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselestimeconfianceensoi" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselestimeconfianceensoi" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="retour">
      <a href="/hypnose" class="btn btn-primary btn-lg">Retour</a>
  </div>
</div>
