<section class="space">
  </section>

  <div id="carouselbioyann" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselbioyann" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>

  <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1673541537/1_b0czq1.png" class="d-block w-100" alt="Biographie Yann Lecocq-page1">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1673541538/2_ljisjk.png" class="d-block w-100" alt="Biographie Yann Lecocq-page2">
      </div>
