<div class="container">

  <div class="presta"><br>
    <h1>Mes Tarifs</h1>
    <ul><br>
        <li>- Une séance d'Hypnose Ericksonienne dure 1H00 pour 65 €</li><br>
        <li>- Un tarif pour les demandeurs d'emploi sur présentation d'un justificatif pour 55€ </li><br>
        <li>- Une séance à domicile dure 1H00 pour 75€</li><br>
        <li>- Une séance d'Hypnose régressive dure 1H30 pour 75€</li><br>
        <li>- Une séance d'Hypnose Spirituelle dure 2H00 pour 90€</li><br>
        <li>- Les séances sont réalisées dans le cadre d'un accompagnement,en aucun cas elles ne se substituent à un avis ou traitement médical</li>
      </ul><br>
  </div>

  <section class="space">
  </section>


  <div class="tarifsheader"><br>
    <h2>Prendre RDV</h2>
    <ul><br>
      <li>Par téléphone : 06.09.82.16.04</li><br>
      <li>Par le formulaire Contact</li><br>
      <li>En cas d'annulation merci de prévenir 24H à l'avance</li><br>
      <li>Je vous envoie un sms de confirmation et un rappel de rdv 48H à l'avance</li><br>
    </ul>
  </div>

  <section class="space">
  </section>

  <div class="paiement"><br>
    <h3>Mode de paiements</h3>
    <ul><br>
      <li>Je vous remercie de prévoir un règlement en chèque ou en espèces</li><br>
      <li>Vous recevrez une confirmation par mail de votre RDV</li><br>
      <li>A votre demande je peux établir une facture dans le cadre d'un éventuel remboursement par votre mutuelle</li><br>
      <li>Les séances sont non remboursées par la sécurité sociale</li><br>
      <li>Pour une séance en visio merci de me contacter</li><br>
    </ul>
  </div>

  <section class="space">
  </section>


  <div class="giftimage"><br>
  <h3>Découvrrir la carte cadeau</h3><br>
    <img class="img-gift" src="https://res.cloudinary.com/df1pesufu/image/upload/v1673892860/Carte_Cadeau_y9gb8q.png"  alt=" Photo Yann Lecocq-">
    <ul><br>
      <li>Quelle belle idée de s'offrir ou le plaisir d'offrir à un proche une séance d'hypnorelaxation d'une 1H00</li><br>
      <li>Je vous propose 2 formules bien être :</li><br>
      <li>1) Une bulle de bien être pour partir dans son voyage intérieur à la destination de votre choix</li><br>
      <li>Ou</li><br>
      <li>2) Un voyage interactif et sonore pour réveiller votre tigre intérieur</li><br>
      <li>Afin de s'amuser et de booster l'estime et la confiance en vous</li><br>
      <li>Elles sont à la demande. Vous pouvez me contacter par téléphone au 06.09.82.16.04</li><br>
    </ul>
  </div>

  <section class="space">
  </section>

  <div id="carouseltarifs" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouseltarifs" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouseltarifs" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1673892563/Prestations_Hypnose_1_2_x1rd6b.png" class="d-block w-100" alt="Détail des Prestations">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/df1pesufu/image/upload/v1673892564/Prestations_Hypnose_2_2_kmyvjp.png" class="d-block w-100" alt="Modalités complémentaires">
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouseltarifs" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouseltarifs" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>
  <div class="retour">
      <a href="/" class="btn btn-primary btn-lg">Retour</a>
  </div>
</div>
