footer{
  border-top: 1px solid #F0A500;
  border-bottom: 1px solid #F0A500;
  width: 100%;
  background: #222222;
  color: #F0A500;
  flex-shrink: 0;
  display: flex;
  justify-content: center;

}

.liste-contact,
.liste-about,
.liste-horaires{
  list-style-type: none;
  font-size: 14px;
  margin-left: 2px;
}

.bloc footer-contact a:hover{
  opacity: 3;
  color:black
}

strong{
  margin-left: 6px;
  display: flex;
  padding-bottom: 15px;
}

.about{
  size: 30px;
  align-items: center;
}

.abouts{
  margin-left: 2px;
}

.row{
  display: flex;
}

.col-md-2 col-lg-2 col-xl-2 mx-auto mt-3{
  text-align: center;
}

.list_about{
display: flex;
justify-content: flex-start;
}
