.navbar-lewagon {
  justify-content: space-between;
  background: black;
  color: #F0A500;
  padding: 20px;
  overflow: hidden;
}


.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  color: #F0A500;
  position: sticky;
  top: 0;
  }

  .nav-link:hover{
    color: #F0A500;
    display: block;
    }

    .nav-item a{
      color:#F0A500;
    }

  /* Page content */


  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
